@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

.inter {
  font-family: Inter;
}
.arimoItalic {
  font-family: Arimo;
  font-style: italic;
}

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

body {
  margin: 0;
  line-height: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.thumbnailImage {
  width: 150px;
  height: 100px;
  border-radius: 1em;
  object-fit: cover;
}

.avatarIcon {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.img-banner {
  margin: 4em auto 2em;
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.img-banner-login {
  display: block;
  margin: 0 auto;

  max-width: 100%;
}

.navbar-toggler-icon {
  color: white;
}

.nav-item {
  margin: auto;
  display: block;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: 12px;
}

$blue: #424769 !default;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

a {
  text-decoration: none;
}
